doctype html
html
  include partials/header.pug
  body.component-lib
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer
      div(class="mdl-layout__drawer",id="plugin-list")
        form
          .mdl-textfield.mdl-js-textfield.search-area
            input(class="mdl-textfield__input js-component-search search",type="text",placeholder=`${i18n.html_component_search}`,id="search-input")
        span(class="mdl-layout-title") #{i18n.html_components_title}
        !=links
      main(class="mdl-layout__content")
        .page-content
          .demo-content.mdl-color--white.mdl-shadow--4dp.content.mdl-color-text--grey-800
            !=comps
    include partials/footer.pug
    style(type='text/css')
      !=inlineCss
    script
      include client.js