doctype html
html
  include partials/header.pug
  body.component-lib
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer
      div(class="mdl-layout__drawer",id="plugin-list")
        form
          .mdl-textfield.mdl-js-textfield.search-area
            input(class="mdl-textfield__input js-component-search search",type="text",placeholder="Search...",id="search-input")
        span(class="mdl-layout-title") Collection
        !=links
      main(class="mdl-layout__content")
        .page-content
          .demo-content.mdl-color--white.mdl-shadow--4dp.content.mdl-color-text--grey-800
            !=comps
    include partials/footer.pug
    style(type='text/css')
      !=inlineCss
    script.
      document.addEventListener("DOMContentLoaded", function(event) {
        var options = {valueNames: ['name']};
        var pluginList = new List('plugin-list', options);
        if(window.hljs) highlightCodeBlocks();
        document.getElementById('search-input').addEventListener('keyup', function(event) {
          if(event.which === 27){ 
            pluginList.search();
            event.target.value = '';
          }
        }, false);
      });
      var highlightCodeBlocks =  function(event) {Array.prototype.forEach.call(document.getElementsByClassName('javascript'), function(block) {window.hljs.highlightBlock(block);})};
