script(src='https://code.getmdl.io/1.3.0/material.min.js',defer)
script(src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.4.1/list.min.js',defer)
script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js',defer)
link(rel='stylesheet',href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
link(rel='stylesheet',href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet',href='https://getmdl.io/templates/article/styles.css')
link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css')
title #{pageTitle}
head
    meta(charset="utf-8")