<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Property</th>
      <th>Type</th>
      <th>Default/Comment</th>
    </tr>
  </thead>
  <tbody>

  
    <tr>
      <td class="mdl-data-table__cell--non-numeric"> </td>
      <td</td>
      <td></td>
    </tr>

  </tbody>
</table>
